<div class="container">
      <div class="row py-4">
        <div class="col-md-12"><img class="center-block img-fluid d-block mx-auto img-thumbnail w-25" src="../assets/pictures/Logo_kelowa.png"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center py-4">Ressenti du jour</h1>
      </div>
      </div>


    <div id="question" class="d-flex justify-content-center">
      <h5  class="text-info">Et aujourd'hui, comment vous sentez-vous?</h5>
    </div>
 





    
    </div>