<div class="container">
      <div class="row py-4">
        <div class="col-md-12"><img class="center-block img-fluid d-block mx-auto img-thumbnail w-25" src="../assets/pictures/Logo_kelowa.png"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center py-4">Ressenti du jour</h1>
      </div>
      </div>


    <div id="question" class="d-flex justify-content-center">
      <h5  class="text-info">Et aujourd'hui, comment vous sentez-vous?</h5>
    </div>
 
    <div class="row">
      <div class="d-flex justify-content-center">
        <form (ngSubmit)="onSubmit(f)" #f>
         
          <div class="panel-heading">
            <h6 class="panel-title py-3 text-center my-2">Effets secondaires courants</h6>
          </div>
          <div class="list-group"> 
            <a class="list-group-item list-group-item-action" ngModel [formControlName]="palpitations">palpitations cardiaques</a> 
            <a class="list-group-item list-group-item-action" ngModel [formControlName]="nausées">nausées</a> 
            <a class="list-group-item list-group-item-action" ngModel [formControlName]="migraines">migraines</a> 
            <a class="list-group-item list-group-item-action" ngModel [formControlName]="perte d'odorat">perte d'odorat</a>            
            <a class="list-group-item list-group-item-action" ngModel [formControlName]="bouffées de chaleur">bouffées de chaleur</a> 
          </div>
          <button
          class="btn btn-primary"
          type="submit"
          >Submit</button>
        </form>
      </div>
      
    </div>





    
    </div>