<div class="py-3">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center py-4">Demandez le programme</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-2">
          <div class="btn-group">
            <a class="btn btn-info" >Jour</a>
            <a class="btn btn-info">Semaine</a>
            <a class="btn btn-info">Jour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container text-center">
      <br>
      <div class="row">
        <div class="col-md-12 align-self-center py-2">
          <div class="btn-group">
            <a class="btn btn-primary text-white active">Programme complet</a>
            <a class="btn btn-link">Alimentation</a>
            <a class="btn btn-link">Activité physique</a>
            <a class="btn btn-link">Gestion des émotions</a>
          </div>
        </div>
        <br> </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="">Votre programme de la semaine</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="py-3">
      <div class="container-fluid px-5">
        <div class="row">
          <div class="col-md-12">
            <h5>Lundi</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Avant petit-dèj</th>
                  <th>Petit-dèj</th>
                  <th>Matinée</th>
                  <th>Déjeuner</th>
                  <th>Après-midi</th>
                  <th>Dîner</th>
                  <th>Soirée</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                  (symptomasOfTheDay)="onGetSymptomas(array)"
                    >Respiration profonde:
                    <br>Regulation du souffle </td>
                  <td>Muesli pommes / cannelle</td>
                  <td>Méditation
                    <br> Fatigue et concentration</td>
                  <td>Soupe de broccoli et citronnelle</td>
                  <td>Méditation
                    <br>Conscience de la douleur</td>
                  <td>Gratin de celeri et pommes</td>
                  <td>Respiration profonde
                    <br>Apaisement des tensions</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Infusion curcuma gingembre et jus de citron</td>
                  <td>Pilates
                    <br> Renforcement des ischios-jambiers</td>
                  <td>légumes de printemps et pois chiches</td>
                  <td>Marche
                    <br>30 min</td>
                  <td>Fruits tiédis au miel et mûres</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Gratin de framboise</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container-fluid px-5">
        <div class="row">
          <div class="col-md-12">
            <h5>Mardi</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Avant petit-dèj</th>
                  <th>Petit-dèj</th>
                  <th>Matinée</th>
                  <th>Déjeuner</th>
                  <th>Après-midi</th>
                  <th>Dîner</th>
                  <th>Soirée</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Respiration profonde:
                    <br>Regulation du souffle </td>
                  <td>Muesli pommes / cannelle</td>
                  <td>Méditation
                    <br> Fatigue et concentration</td>
                  <td>Soupe de broccoli et citronnelle</td>
                  <td>Méditation
                    <br>Conscience de la douleur</td>
                  <td>Gratin de celeri et pommes</td>
                  <td>Respiration profonde
                    <br>Apaisement des tensions</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Infusion curcuma gingembre et jus de citron</td>
                  <td appContentDisplay></td>
                  <td>légumes de printemps et pois chiches</td>
                  <td>Marche
                    <br>30 min</td>
                  <td>Fruits tiédis au miel et mûres</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Gratin de framboise</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>