<div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center px-1">MyC vous concocte un programme sur-mesure qui varie en fonction de votre environnement familial, de votre situation professionnelle, de votre physiologie et évidemment de votre type de cancer. Nous avons preparé une petite série de questions
            simples pour mieux vous connaître.&nbsp;</p>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-end">
        <a [routerLink]="['/faisons-connaissance','1']" class="btn btn-outline-primary text-center my-2" >Ok, Suivant</a>
        </div>
    </div>
  </div>
  