      <div class="col-lg-6 align-self-center px-3">
          <div class="col-lg-12">
            <div class="input-group"> 
              <input 
                type="text" 
                class="validate filter-input" 
                placeholder="Recherchez vos compagnons"
                [(ngModel)]=searchedCompanion 
                (keyup)=filter()> 
            </div>
            <div class="suggestions"
                *ngIf="  filteredCompanions.length > 0">
            <ul class="list-group"
            *ngFor="let companion of filteredCompanions">
            <li class="list-group-item">
              <a (click)="select(item)">{{companion.firstName}} {{companion.name}}</a></li>
            </ul>
            </div>
          </div>
        </div>