<ul class="list-group">
  <li class="list-group-item d-flex align-items-stretch justify-content-end" >
    <div class="companionContainer mr-auto p-2">
      <span class="pull-right">
        <img
          [src]="companion.profilePicturePath"
          alt="{{ companion.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
      {{companion.firstName}} {{companion.name}}
    </div> 
    <div
    class="companionContainer align-self-center p-2">
      <button 
        style="cursor: pointer;"
        id="deleteCompanion" 
        class="btn btn-link btn-sm"
        (click)=onDelete(companion)
        >X</button>  
    </div>
  </li>
</ul>