<div class="container text-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="py-3 text-gray-dark text-center">Vos habitudes alimentaires</h5>
      </div>
    </div>
  
  
      <div class="row">
        <div class="col-md-12 py-3">
          <h5 class="text-center my-0 text-info">{{question2}}</h5>
        </div>
      </div> <br>
      
      <div class="row d-flex justify-content-around">
        <div ><a (click)="onGetAnswer2($event)" [routerLink]="['/faisons-connaissance','3']" class="btn btn-outline-primary text-center my-2" >Je ne cuisine pas</a></div>
        <div ><a (click)="onGetAnswer2($event)" [routerLink]="['/faisons-connaissance','3']" class="btn btn-outline-primary text-center my-2">10 minutes</a></div>
        <div ><a (click)="onGetAnswer2($event)" [routerLink]="['/faisons-connaissance','3']" class="btn btn-outline-primary text-center my-2">20 minutes</a></div>
        <div ><a (click)="onGetAnswer2($event)" [routerLink]="['/faisons-connaissance','3']" class="btn btn-outline-primary text-center my-2">30 minutes</a></div>
        <div ><a (click)="onGetAnswer2($event)" [routerLink]="['/faisons-connaissance','3']" class="btn btn-outline-primary text-center my-2">1 heure</a></div>
        <div ><a (click)="onGetAnswer2($event)" [routerLink]="['/faisons-connaissance','3']" class="btn btn-outline-secondary my-2">Je passe</a></div>  
      </div>
      

  <div class="container">
    <div class="row py-5">
      <div class="col-md-12 text-center d-flex justify-content-start">
        <button [routerLink]="['/faisons-connaissance','1']" class="btn btn-outline-info btn-sm" aria-label="Previous"><span aria-hidden="true">&laquo;</span> Oups je me suis trompé
          </button>
          </div>
    </div>
  </div>
  </div>